/*General*/

* {
  font-family: "Nunito", sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f6f9fe;
}

/*Navbar*/

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-right: 5%;
}

#logo {
  margin-left: 5%;
}

ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #545454;
}

#waitlist {
  width: 20%;
  color: #f6f9fe;
  background-color: #372865;
  border-radius: 3px;
  text-align: center;
}

/*Main section*/

#container {
  display: flex;
  margin-right: 5%;
}

section {
  margin-left: 5%;
}

/*Early access banner*/

#banner {
  width: 55%;
  height: 10%;
  border-radius: 50px;
  margin-top: 15%;
  background-color: #372865;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#banner_text {
  background-color: #372865;
  color: #cca8e9;
}

/*Main Text*/

#text {
  padding: 0;
}

h1 {
  padding: 0;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 0;
  color: #353252;
  font-weight: bolder;
  font-size: 3.5rem;
}

#description {
  width: 85%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2%;
  color: #545454;
}

/*Wait list form*/

form {
  padding: 0;
}

#email {
  width: 35%;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
  padding-top: 2.75%;
  padding-bottom: 2.75%;
}

#submit {
  width: 20%;
  border: none;
  border-radius: 3px;
  background-color: #372865;
  color: #f6f9fe;
  font-size: 1rem;
  padding-top: 3%;
  padding-bottom: 3%;
}

/*lllustration*/

#illustration {
  width: 400px;
  margin-top: 7%;
}

/*Footer*/
footer {
  color: #545454;
  font-weight: bold;
  margin-top: 3%;
  margin-left: 5%;
}

.icon {
  height: 10%;
  padding: 0;
}

/*Media queries*/

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  * {
    padding-left: 1%;
    padding-right: 1%;
  }

  ul,
  #illustration {
    display: none;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
  }

  #banner {
    width: 95%;
    margin-top: 20%;
  }

  #banner_text {
    width: 90%;
  }

  #text {
    text-align: center;
  }

  h1 {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 5%;
  }

  #description {
    width: 100%;
    margin-top: 5%;
  }

  form {
    margin-top: 5%;
    margin-left: 5%;
  }

  #email {
    width: 95%;
    margin-bottom: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #submit {
    width: 97%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  footer {
    width: 100%;
    margin-top: 15%;
    margin-left: 7%;
  }
}

/*Tablet screens*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  * {
    padding-left: 1%;
    padding-right: 1%;
  }

  ul,
  #illustration {
    display: none;
  }

  nav {
    margin-top: 5%;
    margin-left: 7%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #banner {
    width: 75%;
  }

  #text {
    width: 75%;
    text-align: center;
  }

  h1 {
    width: 100%;
    margin-top: 5%;
  }

  #description {
    width: 100%;
    margin-top: 2%;
  }

  form {
    width: 80%;
    margin-top: 2%;
    margin-left: 35%;
  }

  footer {
    width: 60%;
    margin-top: 7%;
    margin-left: 12%;
  }
}

/*Laptops/small screens*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #hamburger {
    display: none;
  }

  ul {
    margin-top: 4%;
  }

  #banner {
    margin-top: 5%;
  }

  h1 {
    font-size: 3.5rem;
  }

  #submit {
    width: 27%;
  }

  #illustration {
    width: 250px;
    height: 350px;
    margin-top: 10%;
  }

  footer {
    margin-top: 0;
  }
}

/*Desktops/large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #hamburger {
    display: none;
  }
}

/*Extra large screens*/
@media only screen and (min-width: 1441px) {
  #hamburger {
    display: none;
  }

  #banner {
    margin-top: 10%;
  }

  footer {
    margin-top: 0;
  }
}
