/*General*/

* {
  font-family: "Nunito", sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f6f9fe;
}

/*Navbar*/

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #545454;
}

#waitlist {
  width: 20%;
  color: #f6f9fe;
  background-color: #372865;
  border-radius: 3px;
  text-align: center;
}

#container {
  display: flex;
}

/*Early access banner*/
#banner {
  width: 65%;
  height: 10%;
  border-radius: 50px;
  margin-top: 10%;
  background-color: #372865;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner_text {
  background-color: #372865;
  color: #cca8e9;
}

/*Text*/
#text {
  padding: 0;
}

h1 {
  padding: 0;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 0;
  color: #353252;
  font-weight: bold;
  font-size: 3rem;
}

#description {
  padding: 0;
  margin-top: 0;
  margin-bottom: 2%;
  color: #545454;
}

/*Wait list form*/
form {
  padding: 0;
}

#email {
  width: 50%;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
  padding-top: 2.75%;
  padding-bottom: 2.75%;
}

#submit {
  width: 20%;
  border: none;
  border-radius: 3px;
  background-color: #372865;
  color: #f6f9fe;
  font-size: 1rem;
  padding-top: 3%;
  padding-bottom: 3%;
}

/*lllustration*/
#illustration {
  height: 375px;
  margin-top: 50px;
  margin-right: 15px;
}

/*Footer*/
#companies {
  margin-top: 50px;
  margin-left: -40px;
  color: #545454;
  font-weight: bold;
}

.icon {
  height: 40px;
  margin-right: -45px;
  margin-left: -20px;
}

/*For laptop*/
@media only screen and (min-width: 1020px) {
  #hamburger {
    display: none;
  }
}

/*For tablet*/
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  #logo {
    padding-top: 20px;
  }

  ul {
    display: none;
  }

  #hamburger {
    padding-top: 20px;
  }

  #container {
    flex-direction: column;
  }

  #banner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  #banner_text {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  #headline {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  #description {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  form {
    white-space: nowrap;
    margin-right: auto;
    margin-left: 30px;
  }

  #submit {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  #companies {
    margin-left: 0px;
  }

  #illustration {
    display: none;
  }

  #additional_heading {
    text-align: center;
  }

  .additional_text {
    text-align: center;
  }
}

/*For phone*/
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #logo {
    padding-top: 20px;
  }

  ul {
    display: none;
  }

  #hamburger {
    padding-top: 20px;
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #banner {
    width: 80%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  #banner_text {
    margin-left: 0px;
  }

  #headline {
    text-align: center;
    font-size: 35px;
    width: 100%;
    margin-right: auto;
    margin-left: -20px;
  }

  #description {
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: -20px;
  }

  form {
    white-space: nowrap;
  }

  #email {
    margin-left: 25px;
  }

  #companies {
    margin-left: -20px;
  }

  #illustration {
    display: none;
  }

  #additional_heading {
    text-align: center;
  }

  .additional_text {
    text-align: center;
  }
}

/*For small phone*/
@media only screen and (max-width: 600px) {
  #logo {
    padding-top: 20px;
  }

  ul {
    display: none;
  }

  #hamburger {
    padding-top: 20px;
  }

  #container {
    flex-direction: column;
  }

  #banner {
    width: 90%;
    height: 50px;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: auto;
  }

  #banner_text {
    margin-left: -10px;
  }

  #headline {
    text-align: center;
    font-size: 35px;
    width: 100%;
    margin-right: auto;
    margin-left: -20px;
  }

  #description {
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: -20px;
  }

  form {
    position: absolute;
    left: 23%;
    margin-right: auto;
  }

  #email {
    width: 230px;
  }

  #submit {
    width: 273px;
    margin-top: 5px;
  }

  #companies {
    padding-top: 95px;
    margin-left: -40px;
  }

  #illustration {
    display: none;
  }

  #additional_heading {
    text-align: center;
  }

  .additional_text {
    text-align: center;
  }
}
