* {
  font-family: "Nunito", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

/*nav,*/
#middle,
#companies {
  *background-color: #f6f9fe;
}

/* Code for navbar found on W3 Schools website here on 13.06.22: https://www.w3schools.com/Css/css_navbar.asp*/
nav {
  display: flex;
  justify-content: space-between;
  background: pink;
}

#logo {
  padding-top: 35px;
  padding-left: 25px;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 50px;
}

li {
  margin: 0;
}

/*Code for CSS selectors found here on 15.06.22: https://www.w3schools.com/cssref/css_selectors.asp*/
#features a:link {
  color: #353252;
  text-decoration: none;
}

#affiliates a:link {
  color: #353252;
  text-decoration: none;
}

#pricing a:link {
  color: #353252;
  text-decoration: none;
}

#communities a:link {
  color: #353252;
  text-decoration: none;
}

#waitlist {
  background-color: #372865;
  border-radius: 3px;
}

#waitlist a:link {
  color: #f6f9fe;
  text-decoration: none;
}

#waitlist a:visited {
  color: #f6f9fe;
}

#middle {
  display: flex;
}

/* Code for aligning text found here on 17.06.22: https://www.w3docs.com/snippets/css/how-to-horizontally-center-contents-within-a-div.html */
#banner {
  width: 517px;
  height: 41px;
  margin-top: 70px;
  background-color: #372865;
  color: #cca8e9;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner a:link {
  color: #cca8e9;
}

#banner a:visited {
  color: #cca8e9;
}

#headline {
  color: #353252;
  font-weight: bold;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 0;
}

#description {
  margin-top: 0px;
}

form {
  margin: 0;
}

#submit {
  background-color: #372865;
  color: #f6f9fe;
  border-radius: 3px;
  margin: 0;
  border: none;
  height: 25px;
}

#email {
  margin-right: 0;
}

#illustration {
  height: 418px;
  margin-top: 50px;
}

#companies {
  margin-top: 50px;
  margin-left: 0;
}
